@import 'tailwindcss';

@theme {
   --color-blue-700: #002b5b;
   --color-blue-500: #19406a;
   --color-blue-200: #8094ad;
   --color-green-400: #36c6c0;
   /* --font-display: 'system-ui', 'Avenir', 'Helvetica', 'Arial', 'sans-serif'; */

   --font-body: Inter, sans-serif;
}
